body { 
    background-color:blanchedalmond;
}

header { 
    text-align: center;
    color:crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size:x-large;
}

h1 { 
    float: right;
    clear: none;
    color:orangered;
}

#logo { 
    float: left;
    clear: none;
    width:100px; 
    height:100px;
}


.pages{
    float: right;
    position: absolute; 
    top: 5%; 
    right: 15%; 
    left: 0%; 
    bottom: 50%;
}

ul { 
    list-style-type: none;
    margin: 0px; 
    padding: 0px;
}

li {
    float: left;
    clear:none;
}

li a { 
    display: block;
    padding: 8px;
    background-color: azure; 
    text-decoration: none;
} 

li a:link { 
    background-color: azure; 
    text-decoration: none; 
}

li a:hover { 
    color: antiquewhite;
}

li a:active { 
    color:bisque;
}

li a:visited { 
    background-color:cornflowerblue;
}


#flag { 
    float: left;
    clear: both; 
    width: 350px; 
    height: 350px;
}

em { 
    position: absolute; 
    top: 15%; 
    right: 0%; 
    left: 71%; 
    bottom: 50%;
}

aside { 
    text-align: right;
    position: absolute; 
    top: 30%; 
    right: 5%;
    left: 50%; 
    bottom: 30%;
}

#names {
    position: absolute; 
    top: 83%; 
    right: 30%;
    left: 30%; 
    bottom: 7%;
    padding: 5px;
    text-align: center; 
    font-weight: bold; 
}

footer {
    position: absolute; 
    top: 91%; 
    right: 41%;
    left: 46%; 
    bottom: 5%;
    padding: 5px;
}
.sprite1{
    position: relative;
    background:url(../images/imagesprite.png) no-repeat -153px -23px;
    width: 39px;
    height: 39px;
    display: inline-block;
}
.sprite1:hover{
    background:url(../images/imagesprite.png) no-repeat -153px -77px;
    width: 39px;
    height: 39px;
}

.sprite2 {
    position: relative;
    background: url(../images/imagesprite.png) no-repeat -50px -23px;
	width: 38px;
	height: 39px;
    display: inline-block;
}
.sprite2:hover{
    background: url(../images/imagesprite.png) no-repeat -50px -77px;
	width: 38px;
	height: 39px;
}

.sprite3{
    position: relative;
    background: url(../images/imagesprite.png) no-repeat -205px -23px;
    width: 38px;
    height: 39px;
    display: inline-block;
}
.sprite3:hover{
    background: url(../images/imagesprite.png) no-repeat -205px -77px;
    width: 38px;
    height: 39px;
}

.animation{
    position: absolute; 
    top: 70%; 
    bottom: 34%; 
    right: 21%; 
    left: 79%;
    background: url(../images/animation.png) no-repeat -94px -282px;
    width: 176px;
    height: 155px;
    animation: heart 1s steps(6) infinite;
}

@keyframes heart{
    from{
        background-position-x:-94px;
    }
    to{
        background-position-x:-1200px;
    }
}

/*This heart symbolizes the beautiful colors of the said community. We are once again reminded that this community does not only promote one color that represents all of them, but multiple colors that would show inclusivity and diversity.*/





