body { 
    background-color:blanchedalmond;
}

header { 
    position:absolute; 
    top:0%; 
    bottom:100%; 
    right: 21%;
    left: 34.5%;
    color:crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size:x-large;
}

h1 { 
    clear: none;
    text-align: center;
    color: teal;
}

#logo { 
    float: left;
    clear: none;
    width:100px; 
    height:100px;
}

ul { 
    list-style-type: none;
    margin: 0px; 
    padding: 0px;
}

li {
    float: left;
    clear:none;
}

li a { 
    display: block;
    padding: 8px;
    background-color: azure; 
    text-decoration: line;
} 

li a { 
    display: block;
    padding: 8px;
    background-color: azure; 
    text-decoration: none;
} 

li a:link { 
    background-color: azure; 
    text-decoration: none; 
}

li a:hover { 
    color:antiquewhite;
}

li a:active { 
    color:bisque;
}

li a:visited { 
    background-color:cornflowerblue;
}

em { 
    clear: both;
    position: absolute; 
    top: 15%; 
    right: 37%; 
    left: 41%; 
    bottom: 50%;
}

#pic1 { 
    float: left; 
    clear: none; 
    width: 450px; 
    height: 450px;
}


#pic2 { 
    float: left; 
    clear: none; 
    width: 450px; 
    height: 450px;
}

#pic3 { 
    float: left; 
    clear: none; 
    width: 450px; 
    height: 450px;
}

p { 
    clear: both;
    text-align: left;
    position: absolute; 
    top: 79%; 
    right: 10%;
    left: 7%; 
    bottom: 33%;
    
}


footer {
    position: absolute; 
    top: 100%; 
    right: 25%;
    left: 25%; 
    bottom: 0%;
    padding: 5px;
    text-align: center; 
    font-weight: bold; 
}




