body { 
    background-color:blanchedalmond;
}

header { 
    position:absolute; 
    top:0%; 
    bottom:100%; 
    right: 21%;
    left: 34.5%;
    color:crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size:x-large;
}

h1 { 
    clear: none;
    text-align: center;
    color: teal;
    position:absolute; 
    top:2%;
    bottom: 95%; 
    right: 21%; 
    left:25%;
}

#logo { 
    float: left;
    clear: none;
    width:100px; 
    height:100px;
}

ul { 
    list-style-type: none;
    margin: 0px; 
    padding: 0px;
}

li {
    float: left;
    clear:none;
}

li a { 
    display: block;
    padding: 8px;
    background-color: azure; 
    text-decoration: line;
} 

li a { 
    display: block;
    padding: 8px;
    background-color: azure; 
    text-decoration: none;
} 

li a:link { 
    background-color: azure; 
    text-decoration: none; 
}

li a:hover { 
    color:antiquewhite;
}

li a:active { 
    color:bisque;
}

li a:visited { 
    background-color:cornflowerblue;
}

em { 
    clear: both;
    position: absolute; 
    top: 11%; 
    right: 37%; 
    left: 41%; 
    bottom: 54%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

#pic1 { 
    float: left; 
    clear: none;
    width: 450px; 
    height: 450px;
}

#video { 
    /*float: left; 
    clear: none;*/
    width: 450px; 
    height: 450px;
}

#pic2 { 
    /*float: left; 
    clear: none;*/
    width: 450px; 
    height: 450px;
}

p { 
    clear: both;
    text-align: left;
    position: absolute; 
    top: 71%; 
    right: 10%;
    left: 7%; 
    bottom: 45%;
    
}


#names {
    position: absolute; 
    top: 90%; 
    right: 25%;
    left: 25%; 
    bottom: 15%;
    padding: 5px;
    text-align: center; 
    font-weight: bold; 
}


footer {
    position: absolute; 
    top: 95%; 
    right: 41%;
    left: 46%; 
    bottom: 5%;
    padding: 5px;
}
.sprite1{
    position: relative;
    background:url(../images/imagesprite.png) no-repeat -153px -23px;
    width: 39px;
    height: 39px;
    display: inline-block;
}
.sprite1:hover{
    background:url(../images/imagesprite.png) no-repeat -153px -77px;
    width: 39px;
    height: 39px;
}

.sprite2 {
    position: relative;
    background: url(../images/imagesprite.png) no-repeat -50px -23px;
	width: 38px;
	height: 39px;
    display: inline-block;
}
.sprite2:hover{
    background: url(../images/imagesprite.png) no-repeat -50px -77px;
	width: 38px;
	height: 39px;
}

.sprite3{
    position: relative;
    background: url(../images/imagesprite.png) no-repeat -205px -23px;
    width: 38px;
    height: 39px;
    display: inline-block;
}
.sprite3:hover{
    background: url(../images/imagesprite.png) no-repeat -205px -77px;
    width: 38px;
    height: 39px;
}













