body { 
    background-color:blanchedalmond;
}
header { 
    text-align: center;
    color:crimson;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    font-size:x-large;
}

h1 { 
    float: right;
    clear: none;
    color:orangered;
}

#logo { 
    float: left;
    clear: none;
    width:100px; 
    height:100px;
}

ul { 
    list-style-type: none;
    margin: 0px; 
    padding: 0px;
}

li {
    float: left;
    clear:none;
}

li a { 
    display: block;
    padding: 8px;
    background-color: azure; 
    text-decoration: line;
} 

#flag { 
    float: left;
    clear: both; 
    width: 350px; 
    height: 350px;
}

em { 
    position: absolute; 
    top: 15%; 
    right: 0%; 
    left: 79%; 
    bottom: 50%;
}

aside { 
    text-align: right;
    position: absolute; 
    top: 30%; 
    right: 5%;
    left: 50%; 
    bottom: 30%;
}

footer {
    position: absolute; 
    top: 83%; 
    right: 30%;
    left: 30%; 
    bottom: 7%;
    padding: 5px;
    text-align: center; 
    font-weight: bold; 
}




